/* Common Styles for Both Views */
.header {
  position: sticky;
  background-color: #1596ff;
  color: white;
  position: relative;
}

.contact-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.contact-link:hover {
  color: #ffeb3b;
}

.header-buttons .MuiButton-containedPrimary {
  background-color: #ffeb3b;
  color: #3f51b5;
}

.header-buttons .MuiButton-outlinedPrimary {
  border-color: #ffeb3b;
  color: #ffeb3b;
}

/* Laptop View */
@media (min-width: 413px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .contact-info {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .header-buttons {
    display: flex;
    gap: 10px;
    margin-left: auto; /* Shift the buttons to the right */
  }

  .main-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .main-nav.open {
    display: block;
  }

  .main-nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .main-nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }

  .main-nav a:hover {
    color: #ffeb3b;
  }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}

/* Mobile View */
@media (max-width: 412px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .contact-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }

  .contact-link {
    font-size: 0.9em;
  }

  .header-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }

  .header-buttons button {
    font-size: 0.9em;
    padding: 5px;
  }

  .main-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .main-nav.open {
    display: flex;
  }

  .main-nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    width: 100%;
    align-items: center;
  }

  .main-nav a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    transition: color 0.3s;
  }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}
